<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MarketCapBased</display-name>
  <welcome-file-list>
    <welcome-file>trade.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.citi.trade.authentication.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveStockServlet</servlet-name>
    <servlet-class>com.citi.trade.stock.SaveStockServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecommendedStockServlet</servlet-name>
    <servlet-class>com.citi.trade.stock.RecommendedStockServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetchSavedStockServlet</servlet-name>
    <servlet-class>com.citi.trade.stock.FetchSavedStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveStockServlet</servlet-name>
    <url-pattern>/SaveStockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecommendedStockServlet</servlet-name>
    <url-pattern>/RecommendedStockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchSavedStockServlet</servlet-name>
    <url-pattern>/FetchSavedStockServlet</url-pattern>
  </servlet-mapping>
</web-app>